<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="row">
  <div class="container">
  <div class="col-sm-12">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<span>Cookies:</span><%= cookie %><br>
	<span>Signed cookies:</span><%= signed %><br>
	<span>Sessions:</span><%= session %><br>
  </div>
  </div>
</div>	
  </body>
</html>
